@import url(./normalize.css) screen;

:root {
  --color-wet-asphalt: #34495e;
  --color-wet-asphalt-light: #748495;
  /*--color-second-background: white;*/
  /*--color-header-font: #201551;*/
  /*--color-secondary-font: #ADC9E8;*/
  --color-white: white;
  --color-sunflower: #f1c40f;
}

::selection {
  background: var(--color-sunflower);
  color: white;
}
* {
  box-sizing: border-box;
}
html, body {
  /*height: 100vh;
  width: 100vw;
  max-width: 100%;*/
  margin: 0;
}

#container {
  height: 100%;
  font-family: 'Nova Square', cursive;
  /*font-family: 'VT323', monospace;*/
  font-size: 22px;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 20px 0;
  z-index: 2;
  color: var(--color-sunflower);
  background: white;
}

#header .about-us {
  text-decoration: none;
  color: var(--color-sunflower);
  transition: all 0.9s ease-in-out;
  position: relative;
  font-size: 17px;
}

#header .about-us:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  background: var(--color-sunflower);
  visibility: hidden;
  transform: scaleX(0);
  height: 2px;
  width: 100%;
  transition: all 0.5s ease-in-out;
}

#header .about-us:hover:after {
  visibility: visible;
  transform: scaleX(1);
}

/*#header .about-us:before {
  content: attr(data-letters);
  position: absolute;
  width: 0;
  white-space: nowrap;
  color: var(--color-secondary-font);
  overflow: hidden;
  z-index: 2;
  transition: width .4s;
}*/

#header .about-us:hover:before {
  width: 100%;
}

.arabic-section{
  direction: rtl;
  font-size: 17px;
  font-family: 'Changa', sans-serif;
  font-weight: lighter;
  background-color: var(--color-wet-asphalt);
  z-index: 1;
  position: relative;
  margin: 100px 0px;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.arabic-section:before {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 50%;
  left: 0;
  right: 0;
  top: 0;
  background-color: inherit;
  transform: skewY(1.5deg);
  transform-origin: 100%;
}
.arabic-section:after {
  content: '';
  display: block;
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 50%;
  background-color: inherit;
  transform: skewY(-1.5deg);
  transform-origin: 100%;
}

.arabic-section p {
  margin: 20px 0;
  line-height: 2em;
  font-size: 17px;
  text-align: center;
}

.arabic-section a {
  margin-bottom: 55px;
}

.english-section{
  font-size: 17px;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--color-wet-asphalt);
}
.english-section p {
  text-align: center;
  line-height: 2em;
}

.btn {
  margin-top: 40px;
  text-decoration: none;
  background-color: var(--color-sunflower);
  color: white;
  box-shadow: inset 0 0 0 2px var(--color-sunflower);
  padding: 20px 50px;
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: transparent;
  color: var(--color-sunflower);
}

/*input {
  width: 30%;
  font-size: 22px;
  padding: 5px;
  margin-bottom: 20px;
  margin-top: 100px;
  outline: none;
  border: none;
  color: var(--color-blue);
  background: inherit;
  box-shadow: 1px 1px 0 0 var(--color-blue);
  transition: all 0.6s;
}

input::placeholder {
  color: var(--color-blue);
  text-align: center;
}

.arabic-section input::placeholder {
  font-family: 'Changa', sans-serif;
}

.english-section input::placeholder {
  font-family: 'Nova Square', cursive;
}*/

/*input:focus {
  box-shadow: 0 0 1px 0 var(--color-blue);
}*/

.logo {
  font-family: 'VT323', monospace;
  cursor: default;
    -webkit-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none;  
            user-select: none; 
}

.logo .first-word {
  background-color: var(--color-sunflower);
  padding: 5px;
  color: white;
  border-radius: 2px;
}

.logo .second-word {
  /*font-weight: bolder;*/
  text-decoration: underline;
}

.logo .second-word.scroll {
  transform-origin: 0% 100%;
  transform: rotate(45deg);
  display: inline-block;
  transition: transform 1s cubic-bezier(0.15, 1.28, 1, 0.38);
}



/* -------------------lines with cursol---------------*/
.line-right {
  border-left: .15em solid var(--color-sunflower); /* The typwriter cursor */
}

.line-left {
  border-right: .15em solid var(--color-sunflower); /* The typwriter cursor */
}

.line-left, .line-right {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  white-space: nowrap; /* Keeps the content on a single line */
  /*margin: 0 auto;  Gives that scrolling effect as the typing happens */
  /*letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 5s steps(88),
    blink-caret .75s step-end infinite;   
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--color-sunflower); }
}


/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .line-left, .line-right {
    white-space: normal;
    animation: none;
    border: none;
    padding: 0 20px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .line-left, .line-right {
    white-space: normal;
    animation: none;
    border: none;
    padding: 0 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .line-left, .line-right {
    white-space: normal;
    animation: none;
    border: none;
    padding: 0 20px;
  }
}



/*--------------------------------------*/

/*-------------------our goals section-------------------*/
.arabic-section .main_purpose {
  margin: 0 20px 20px;
}

.points {
  width: 100%;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.point {
  text-align: center;
  background-color: black;
  margin: 0 50px;
  flex: 1;
  background: #fff;
  border-radius: 4px;
  transition: all .2s;
  color: var(--color-wet-asphalt-light);
  padding: 20px 0;
}

.point:hover {
  box-shadow: 0 2px 3px #565555;
  transform: scale(1.02);
  color: var(--color-wet-asphalt);
}

.point i {
  font-size: 120px;
  padding-top: 20px;
}

@media only screen and (max-width : 320px) {
  .points {
    flex-direction: column;
  }

  .point {
    margin: 20px 50px;
    padding: 0 20px;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .points {
    flex-direction: column;
  }

  .point {
    margin: 20px 50px;
    padding: 0 20px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  .points {
    flex-direction: column;
  }

  .point {
    margin: 20px 50px;
    padding: 0 20px;
  }
}


/*--------------------------------------*/
.modal__layout {
  display: none;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
}

.modal__content {
  width: 80vw;
  height: 50vh;
  margin: 5% auto;
}


.modal--open {
  display: block;
}

.modal__content {
  animation-name: animJelly;
  animation-duration: 1s;
}
/* Animate Jelly*/

@keyframes animJelly {
  0% {
    -webkit-transform: matrix3d(.7,0,0,0,0,.7,0,0,0,0,1,0,0,0,0,1);
    transform: matrix3d(.7,0,0,0,0,.7,0,0,0,0,1,0,0,0,0,1);
  }

  2.08333% {
      -webkit-transform: matrix3d(.75266,0,0,0,0,.76342,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.75266,0,0,0,0,.76342,0,0,0,0,1,0,0,0,0,1);
  }

  4.16667% {
      -webkit-transform: matrix3d(.81071,0,0,0,0,.84545,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.81071,0,0,0,0,.84545,0,0,0,0,1,0,0,0,0,1);
  }

  6.25% {
      -webkit-transform: matrix3d(.86808,0,0,0,0,.9286,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.86808,0,0,0,0,.9286,0,0,0,0,1,0,0,0,0,1);
  }

  8.33333% {
      -webkit-transform: matrix3d(.92038,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.92038,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  10.4167% {
      -webkit-transform: matrix3d(.96482,0,0,0,0,1.05202,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.96482,0,0,0,0,1.05202,0,0,0,0,1,0,0,0,0,1);
  }

  12.5% {
      -webkit-transform: matrix3d(1,0,0,0,0,1.08204,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1,0,0,0,0,1.08204,0,0,0,0,1,0,0,0,0,1);
  }

  14.5833% {
      -webkit-transform: matrix3d(1.02563,0,0,0,0,1.09149,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.02563,0,0,0,0,1.09149,0,0,0,0,1,0,0,0,0,1);
  }

  16.6667% {
      -webkit-transform: matrix3d(1.04227,0,0,0,0,1.08453,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.04227,0,0,0,0,1.08453,0,0,0,0,1,0,0,0,0,1);
  }

  18.75% {
      -webkit-transform: matrix3d(1.05102,0,0,0,0,1.06666,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.05102,0,0,0,0,1.06666,0,0,0,0,1,0,0,0,0,1);
  }

  20.8333% {
      -webkit-transform: matrix3d(1.05334,0,0,0,0,1.04355,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.05334,0,0,0,0,1.04355,0,0,0,0,1,0,0,0,0,1);
  }

  22.9167% {
      -webkit-transform: matrix3d(1.05078,0,0,0,0,1.02012,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.05078,0,0,0,0,1.02012,0,0,0,0,1,0,0,0,0,1);
  }

  25% {
      -webkit-transform: matrix3d(1.04487,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.04487,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  27.0833% {
      -webkit-transform: matrix3d(1.03699,0,0,0,0,.98534,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.03699,0,0,0,0,.98534,0,0,0,0,1,0,0,0,0,1);
  }

  29.1667% {
      -webkit-transform: matrix3d(1.02831,0,0,0,0,.97688,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.02831,0,0,0,0,.97688,0,0,0,0,1,0,0,0,0,1);
  }

  31.25% {
      -webkit-transform: matrix3d(1.01973,0,0,0,0,.97422,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.01973,0,0,0,0,.97422,0,0,0,0,1,0,0,0,0,1);
  }

  33.3333% {
      -webkit-transform: matrix3d(1.01191,0,0,0,0,.97618,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.01191,0,0,0,0,.97618,0,0,0,0,1,0,0,0,0,1);
  }

  35.4167% {
      -webkit-transform: matrix3d(1.00526,0,0,0,0,.98122,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00526,0,0,0,0,.98122,0,0,0,0,1,0,0,0,0,1);
  }

  37.5% {
      -webkit-transform: matrix3d(1,0,0,0,0,.98773,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1,0,0,0,0,.98773,0,0,0,0,1,0,0,0,0,1);
  }

  39.5833% {
      -webkit-transform: matrix3d(.99617,0,0,0,0,.99433,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99617,0,0,0,0,.99433,0,0,0,0,1,0,0,0,0,1);
  }

  41.6667% {
      -webkit-transform: matrix3d(.99368,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99368,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  43.75% {
      -webkit-transform: matrix3d(.99237,0,0,0,0,1.00413,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99237,0,0,0,0,1.00413,0,0,0,0,1,0,0,0,0,1);
  }

  45.8333% {
      -webkit-transform: matrix3d(.99202,0,0,0,0,1.00651,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99202,0,0,0,0,1.00651,0,0,0,0,1,0,0,0,0,1);
  }

  47.9167% {
      -webkit-transform: matrix3d(.99241,0,0,0,0,1.00726,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99241,0,0,0,0,1.00726,0,0,0,0,1,0,0,0,0,1);
  }

  50% {
      -webkit-transform: matrix3d(.99329,0,0,0,0,1.00671,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99329,0,0,0,0,1.00671,0,0,0,0,1,0,0,0,0,1);
  }

  52.0833% {
      -webkit-transform: matrix3d(.99447,0,0,0,0,1.00529,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99447,0,0,0,0,1.00529,0,0,0,0,1,0,0,0,0,1);
  }

  54.1667% {
      -webkit-transform: matrix3d(.99577,0,0,0,0,1.00346,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99577,0,0,0,0,1.00346,0,0,0,0,1,0,0,0,0,1);
  }

  56.25% {
      -webkit-transform: matrix3d(.99705,0,0,0,0,1.0016,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99705,0,0,0,0,1.0016,0,0,0,0,1,0,0,0,0,1);
  }

  58.3333% {
      -webkit-transform: matrix3d(.99822,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99822,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  60.4167% {
      -webkit-transform: matrix3d(.99921,0,0,0,0,.99884,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99921,0,0,0,0,.99884,0,0,0,0,1,0,0,0,0,1);
  }

  62.5% {
      -webkit-transform: matrix3d(1,0,0,0,0,.99816,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1,0,0,0,0,.99816,0,0,0,0,1,0,0,0,0,1);
  }

  64.5833% {
      -webkit-transform: matrix3d(1.00057,0,0,0,0,.99795,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00057,0,0,0,0,.99795,0,0,0,0,1,0,0,0,0,1);
  }

  66.6667% {
      -webkit-transform: matrix3d(1.00095,0,0,0,0,.99811,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00095,0,0,0,0,.99811,0,0,0,0,1,0,0,0,0,1);
  }

  68.75% {
      -webkit-transform: matrix3d(1.00114,0,0,0,0,.99851,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00114,0,0,0,0,.99851,0,0,0,0,1,0,0,0,0,1);
  }

  70.8333% {
      -webkit-transform: matrix3d(1.00119,0,0,0,0,.99903,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00119,0,0,0,0,.99903,0,0,0,0,1,0,0,0,0,1);
  }

  72.9167% {
      -webkit-transform: matrix3d(1.00114,0,0,0,0,.99955,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00114,0,0,0,0,.99955,0,0,0,0,1,0,0,0,0,1);
  }

  75% {
      -webkit-transform: matrix3d(1.001,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.001,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  77.0833% {
      -webkit-transform: matrix3d(1.00083,0,0,0,0,1.00033,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00083,0,0,0,0,1.00033,0,0,0,0,1,0,0,0,0,1);
  }

  79.1667% {
      -webkit-transform: matrix3d(1.00063,0,0,0,0,1.00052,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00063,0,0,0,0,1.00052,0,0,0,0,1,0,0,0,0,1);
  }

  81.25% {
      -webkit-transform: matrix3d(1.00044,0,0,0,0,1.00058,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00044,0,0,0,0,1.00058,0,0,0,0,1,0,0,0,0,1);
  }

  83.3333% {
      -webkit-transform: matrix3d(1.00027,0,0,0,0,1.00053,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00027,0,0,0,0,1.00053,0,0,0,0,1,0,0,0,0,1);
  }

  85.4167% {
      -webkit-transform: matrix3d(1.00012,0,0,0,0,1.00042,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1.00012,0,0,0,0,1.00042,0,0,0,0,1,0,0,0,0,1);
  }

  87.5% {
      -webkit-transform: matrix3d(1,0,0,0,0,1.00027,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1,0,0,0,0,1.00027,0,0,0,0,1,0,0,0,0,1);
  }

  89.5833% {
      -webkit-transform: matrix3d(.99991,0,0,0,0,1.00013,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99991,0,0,0,0,1.00013,0,0,0,0,1,0,0,0,0,1);
  }

  91.6667% {
      -webkit-transform: matrix3d(.99986,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99986,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }

  93.75% {
      -webkit-transform: matrix3d(.99983,0,0,0,0,.99991,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99983,0,0,0,0,.99991,0,0,0,0,1,0,0,0,0,1);
  }

  95.8333% {
      -webkit-transform: matrix3d(.99982,0,0,0,0,.99985,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99982,0,0,0,0,.99985,0,0,0,0,1,0,0,0,0,1);
  }

  97.9167% {
      -webkit-transform: matrix3d(.99983,0,0,0,0,.99984,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(.99983,0,0,0,0,.99984,0,0,0,0,1,0,0,0,0,1);
  }

  100% {
      -webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
      transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
  }
}
